@import "./components/App/styles.css";
@import "./components/CardCatelog/styles.css";
@import "./components/Card/styles.css";
body {
  margin: 0;
  padding: 0;
  background-color: #555;
  text-shadow: 0px 0px 21px #999;
}
